<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登陆-自习预约管理系统</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png">
    <!-- Base Styling  -->
    <link rel="stylesheet" th:href="@{/assets/main/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/assets/main/css/style.css}">


    <style>
        body{
            width: 100%;
            height: 1000px;
            background: linear-gradient(to bottom right, #000, #2073c2 60%, #dff6ff);
            overflow: hidden;
        }
        span{
            display: block;
            position: absolute;
            border-radius: 50%;
            box-shadow: 0.4px 0.4px 0.4px 0px #fff;
        }
    </style>
</head>

<body>
<div id="main-wrapper" class="show">

    <div class="login-tabib">
        <div>
            <div class="login-main">
                <form class="theme-form" th:action="@{/logincheck}">
                    <h4 class="card-primary card-body text-center text-white">自习室预约管理系统</h4>
                    <div class="form-group m-b-10">
                        <label class="col-form-label">用户名</label>
                        <input class="form-control" type="text" placeholder="学号" name="username">
                    </div>
                    <div class="form-group m-b-10">
                        <label class="col-form-label">密码</label>
                        <div class="form-input position-relative">
                            <input class="form-control" type="password" placeholder="密码" name="password">
                            <div class="show-hide"><span class="show"></span></div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="mt-3">
                            <button class="btn btn-success w-100" type="submit">登陆</button>
                        </div>
                    </div>
                    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" class="text-center"></p>
                </form>
                <div style="text-align: right;">
                    <div class="mt-3">
                        <button class="btn btn-light" style="margin: 2px 2px " type="button" data-bs-toggle='modal'
                                data-bs-target='#modal-register-student'>注册
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="modal-register-student" tabindex="-1" aria-labelledby="modal-title-edit-row"
     aria-hidden="true">
    <form class="modal-dialog modal-lg" th:action="@{/register_student}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title-edit-row">学生注册</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="basic-form">
                            <form>
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="学号" name="s_id">
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="姓名" name="s_name">
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="密码" name="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" placeholder="专业"
                                                       name="s_major">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" placeholder="年级"
                                                       name="s_year">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <input type="text" class="form-control" placeholder="班级"
                                                       name="s_class">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">确认</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </form>
</div>


<!-- JQuery v3.5.1 -->
<script src="assets/plugins/jquery/jquery.min.js"></script>

<!-- popper js -->
<script src="assets/plugins/popper/popper.min.js"></script>

<!-- Bootstrap -->
<script src="assets/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Moment -->
<script src="assets/plugins/moment/moment.min.js"></script>

<!-- Date Range Picker -->
<script src="assets/plugins/daterangepicker/daterangepicker.min.js"></script>

<!-- Main Custom JQuery -->
<script src="assets/js/toggleFullScreen.js"></script>
<script src="assets/js/main.js"></script>


<script>
    window.onload = function(){
        var screenW = document.documentElement.clientWidth;
        var screenH = document.documentElement.clientHeight;
        var colorArr = ['#fff','skyblue','orange'];
        console.log(screenW);
        for( var i=0; i<800; i++ ){
            var span = document.createElement('span');
            var width = Math.random() * 3;
            var colorIndex = parseInt(Math.random() * 3);
            var x = parseInt(Math.random() * screenW);
            var y = parseInt(Math.random() * screenH);
            span.style.width = parseInt(width) + 'px';
            span.style.height = parseInt(width) + 'px';
            span.style.background = colorArr[colorIndex];
            span.style.left = x + 'px';
            span.style.top = y + 'px';

            document.body.appendChild(span);
        }
    }
</script>


</body>

</html>
