<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生留言管理-自习预约管理系统</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png">
    <!-- Base Styling  -->
    <link rel="stylesheet" th:href="@{/assets/main/css/fonts.css}">
    <link rel="stylesheet" th:href="@{/assets/main/css/style.css}">
</head>

<body>
<div id="main-wrapper" class="show">



    <!-- start section sidebar -->
    <div th:replace="~{commons/common::student_sidebar(active='student_message')}"></div>
    <!-- End section sidebar -->


    <!-- start section header -->
    <div th:replace="~{commons/common::header}"></div>
    <!-- End section header -->


    <!-- start section content -->
    <div class="content-body">
        <div class="warper container-fluid">
            <div class="new_appointment main_container">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4 class="text-primary">学生留言管理</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/index}">首页</a></li>
                            <li class="breadcrumb-item active"><a th:href="@{/student_message}">学生留言管理</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header fix-card">
                                <div class="row">
                                    <div class="col-8">
                                        <h4 class="card-title"> 留言信息 </h4>
                                    </div>
                                    <div class="col-4 form-group text-end">
                                        <button type="button" class="btn btn-primary" data-bs-toggle='modal'
                                                data-bs-target='#modal-add-message'>添加新留言
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example1" class="display nowrap" style="table-layout:fixed">
                                        <thead>
                                        <tr>
                                            <th>内容</th>
                                            <th>回复</th>
                                            <th>时间</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="message:${messages}">
                                            <td style="overflow:hidden;text-overflow: ellipsis;"
                                                th:title="${message.getContent()}"
                                                th:text="${message.getContent()}">-</td>
                                            <td style="overflow:hidden;text-overflow: ellipsis;"
                                                th:title="${message.getReply()}"
                                                th:text="${message.getReply()}">-</td>
                                            <td th:text="${#dates.format(message.getTime(), 'yyyy-MM-dd HH:mm:ss')}">-</td>
                                            <td>
                                                <a data-bs-toggle='modal'
                                                   th:attr="data-bs-target='#modal-view-own-message'+${message.getId()}"
                                                   class='mr-4'>
                                                    <span class='fas fa-eye'></span>
                                                </a>

                                                <a data-bs-toggle='modal'
                                                   th:attr="data-bs-target='#modal-delete-own-message'+${message.getId()}"
                                                   class='mr-4'>
                                                    <span class='fas fa-trash-alt'></span>
                                                </a>
                                                <div class="modal fade"
                                                     th:attr="id='modal-view-own-message'+${message.getId()}"
                                                     tabindex="-1"
                                                     aria-labelledby="modal-title-edit-row" aria-hidden="true">
                                                    <form class="modal-dialog modal-lg" th:action="@{/update-own_message}">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="modal-title-edit-row">
                                                                    留言信息</h5>
                                                                <button type="button" class="close"
                                                                        data-bs-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="container-fluid">
                                                                    <div class="row">
                                                                        <div class="basic-form">
                                                                            <form>
                                                                                <div class="row" hidden="hidden">
                                                                                    <div class="col-xl-4">
                                                                                        <div class="form-group">
                                                                                            <input type="text"
                                                                                                   class="form-control"
                                                                                                   th:placeholder="留言ID"
                                                                                                   th:value="${message.getId()}"
                                                                                                   readonly
                                                                                                   th:name="id">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row" hidden="hidden">
                                                                                    <div class="col-xl-4">
                                                                                        <div class="form-group">
                                                                                            <input type="text"
                                                                                                   class="form-control"
                                                                                                   th:placeholder="学生ID"
                                                                                                   th:value="${message.getS_id()}"
                                                                                                   readonly
                                                                                                   th:name="s_id">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row" th:hidden="${session.login_user.getS_id() != 'admin'}">
                                                                                    <div class="col-xl-4">
                                                                                        <div class="form-group">
                                                                                            <input type="text"
                                                                                                   class="form-control"
                                                                                                   th:title="学生姓名"
                                                                                                   th:placeholder="学生姓名"
                                                                                                   th:value="${message.getS_name()}"
                                                                                                   readonly
                                                                                                   th:name="s_name">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-xl-12">
                                                                                        <div class="form-group">
                                                                                                <textarea
                                                                                                        class="form-control"
                                                                                                        th:readonly="${session.login_user.getS_id() != 'admin'}"
                                                                                                        th:title="留言内容"
                                                                                                        th:placeholder="留言内容"
                                                                                                        th:inline="text"
                                                                                                        th:name="content">[[${message.getContent()}]]</textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-xl-12">
                                                                                        <div class="form-group">
                                                                                                <textarea
                                                                                                        class="form-control"
                                                                                                        th:readonly="${session.login_user.getS_id() != 'admin'}"
                                                                                                        th:title="留言回复"
                                                                                                        th:placeholder="留言回复"
                                                                                                        th:inline="text"
                                                                                                        th:name="reply">[[${message.getReply()}]]</textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
<!--                                                                <button type="submit" class="btn btn-primary"-->
<!--                                                                        data-bs-dismiss="modal">确认修改-->
<!--                                                                </button>-->
                                                                <button type="button" class="btn btn-primary"
                                                                        data-bs-dismiss="modal">确认
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal fade"
                                                     th:attr="id='modal-delete-own-message'+${message.getId()}"
                                                     tabindex="-1"
                                                     role="dialog" aria-labelledby="modal-title-edit-modal">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">
                                                                    提示信息
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-bs-dismiss="modal" aria-label="Close"><span
                                                                        aria-hidden="true">&times;</span></button>
                                                            </div>
                                                            <div class="modal-body top-info">
                                                                <p style="font-size: 22px;font-weight: bold">
                                                                    确认删除该留言？</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a type="button" class="btn badge-primary"
                                                                   th:href="@{/delete_own_message(id=${message.getId()})}">
                                                                    确认
                                                                </a>
                                                                <button type="button" class="btn btn-danger"
                                                                        data-bs-dismiss="modal">
                                                                    关闭
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End section content -->


</div>


<!-- Modal -->
<div class="modal fade" id="modal-add-message" tabindex="-1" aria-labelledby="modal-title-edit-row" aria-hidden="true">
    <form class="modal-dialog modal-lg" th:action="@{/add_message}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-add-message-row">添加新留言</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="basic-form">
                            <form>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="内容" name="content"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">确认添加</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </form>
</div>
<!--End Modal -->


<!-- JQuery v3.5.1 -->
<script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>

<!-- popper js -->
<script th:src="@{assets/plugins/popper/popper.min.js}"></script>

<!-- Bootstrap -->
<script th:src="@{assets/plugins/bootstrap/js/bootstrap.min.js}"></script>

<!-- Moment -->
<script th:src="@{assets/plugins/moment/moment.min.js}"></script>

<!-- Date Range Picker -->
<script th:src="@{assets/plugins/daterangepicker/daterangepicker.min.js}"></script>

<!-- Datatable -->
<script th:src="@{assets/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/init-tdatatable.js}"></script>

<!-- Main Custom JQuery -->
<script th:src="@{assets/js/toggleFullScreen.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

</body>

</html>
